<mat-card>
  <mat-card-title>
    <mat-form-field>
      <input matInput >
    </mat-form-field>
  </mat-card-title>

  <mat-card-content>
    {{ticks | hms}}

    <div *ngIf="status==='stopped'">
      <button mat-icon-button (click)="start()">
        <mat-icon aria-label="Example icon-button with a heart icon">play_circle_filled</mat-icon>
      </button>
    </div>

    <div *ngIf="status==='running'">
      <button mat-icon-button (click)="stop()">
        <mat-icon aria-label="Example icon-button with a heart icon">stop</mat-icon>
      </button>
      <button mat-icon-button (click)="pause()">
        <mat-icon aria-label="Example icon-button with a heart icon">pause</mat-icon>
      </button>
      <button mat-icon-button (click)="unpause()">
        <mat-icon aria-label="Example icon-button with a heart icon">skip_next</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
